[2020-10-23 18:37] dirk-thomas opened #1 "Needs changes to allow packaging"
In order for this repository to be releasable the content of `rmw_connextdds_cpp` needs to become a ROS package. Basically `include(../rmw_connextdds_cpp/rmw_connextdds_cpp.cmake)` will fail if not the whole repository checked out as is (which is not a valid assumption when each package is built into a separate Debian package).

[2020-10-24 04:15] #1 closed, assigned to asorbini

[2020-12-08 01:03] spiderkeys opened #2 "Add branch that supports post-Foxy releases (Rolling)"
I've created a branch that removes the structs and enum that are now duplicately defined in ros2/rmw such that this RMW implementation can be used in ROS2 Rolling.

https://github.com/spiderkeys/rmw_connextdds/tree/rolling

I've tested this change with a non-trivial set of applications using ROS2 Rolling (built as of today) on Ubuntu 20.04 and using RTI Connext Pro 6.0.1.

[2020-12-08 10:47] asorbini commented on #2
Hi Charles,

thank you for your contribution, but unfortunately I think that your work might be a duplicate of the `master` branch of the repository, which is meant to track ROS2 Rolling.
Did you give that branch a try? By inspecting your repository I see that you branched from `foxy`.

The `master` branch is the main development branch, and all other branches share (almost) the same source code,

[2020-12-08 20:11] spiderkeys commented on #2
Hi @asorbini , thanks for the update!

Sorry, I hadn't realized that master was a working rolling branch. I had been working with the foxy branch for the last month and saw that the foxy branch was 133 commits ahead and 137 commits behind master, but didn't know what the working state of master was. I applied the smallest delta required to make the foxy branch work on my rolling build and everythi

[2020-12-08 20:11] #2 closed

[2020-12-10 01:29] rockcdr opened #3 "Could you point me where to find new "resource" files (i.e. "em" files)?"
Could you point me where to find new "resource" files (i.e. "em" files) for rosidl_typesupport*?

For example, similarly, we may find the original one at, https://github.com/ros2/rosidl_typesupport_connext/blob/dashing/rosidl_typesupport_connext_cpp/resource/msg__type_support.cpp.em.

[2020-12-11 20:42] asorbini commented on #3
Hi @rockcdr,

this new RMW does not perform any code generation during the build, so you won't find any template files in the repository.

Instead, the RMW uses a [custom type plugin](https://github.com/rticommunity/rmw_connextdds/blob/master/rmw_connextdds_common/src/ndds/rmw_type_support_ndds.cpp) which wraps the type support generated by `rosidl_typesupport_fastrtps`. This allows Connext DDS to

[2020-12-11 21:21] rockcdr commented on #3
Thanks for your quick reply and explanation. It is really new version of design, i.e., no code generation.

I am reading the new version of implementation source code, comparing with the previous version, i.e., `rmw_connext_cpp`, and wondering whether you will remove the dependencies on `fastrtps` and `rosidl_typesupport_fastrtps` in future. From my point of view, FYI, main concern is the dependen

[2020-12-11 21:28] rockcdr commented on #3
BTW, do you think it might be easy to add a switch (e.g. in `static_config.hpp`) to select to use `rosidl_typesupport_fastrtps` or use a new version of `rosidl_typesupport_connext`?

[2020-12-11 21:45] asorbini commented on #3
`rmw_connextdds` does not depend on `fastrtps` as a runtime dependency, but only on the `fastcdr` library (used by `rosidl_typesupport_fastrtps`). `fastrtps` should only be brought in as a build dependency (by `rosidl_typesupport_fastrtps`'s `package.xml`).

We currently don't have plans to replace this dependency with Connext-specific code generation, but it could be an option to explore for the

[2020-12-11 21:56] asorbini commented on #3
It could be possibly, but it would probably require some pretty heavy `#ifdef`ing, and introduce dependencies in `package.xml` which cannot be made conditional and would require a dedicated branch.

Actually, one of the main reasons for creating this new implementation was to get rid of the bad performance provided by `rosidl_typesupport_connext`.

The main problem though is that this new RMW uses

[2020-12-12 01:21] rockcdr commented on #3
Thanks. I am considering to use the new version rmw to evaluate RTI DDS Micro. It seems like I should use `rosidl_typesupport_fastrtps` and `fastcdr`, as a quick solution.

[2020-12-12 02:12] #3 closed

[2020-12-12 02:15] asorbini commented on #3
Closing this issue for now. Feel free to open new ones to discuss Micro support in more detail.

[2020-12-12 02:16] rockcdr commented on #3
Thanks

[2021-01-21 14:03] SBarzz opened #4 "Problem compiling on Jetson TX2"
**System Info**

- _OS_
  - 18.04 (Jetson TX2)
- *ROS version and installation type*
  - eloquent
- *RTI Connext DDS version and installation type*
  -6.0.1
- *RMW version or commit hash*
  -dashing

**Bug Description**

Trying to compile your repo, following your instructions, but I'm getting this errors:

[code]

So I compiled it using:
`colcon build --symlink-install --cmake-args '-DCONNEXTDDS_

[2021-01-21 17:13] asorbini commented on #4
Hi @SBarzz,

thank you for your report.

Based on the error message, and since you are not mentioning any actual build failure (the message about rmw_connextddsmicro is a benign warning), I wonder if by any chance you missed to `source install/setup.bash` after running `colcon build`. I often run into the error you experienced when I forget to do so.

Can you please double check that you loaded th

[2021-01-21 20:11] SBarzz commented on #4
Now, I'm getting this errors:

user@user:~/ros2_connextdds$ source ~/ros2_connextdds/install/setup.bash
[rti_connext_dds_cmake_module][warning] No RTI Connext DDS Micro installation specified via RTIMEHOME. RTI Connext DDS Micro will not be available unless you already added it to LD_LIBRARY_PATH.
user@user:~/ros2_connextdds$ RMW_IMPLEMENTATION=rmw_connextdds ros2 run demo_nodes_cpp talker

This e

[2021-01-23 02:32] asorbini commented on #4
I don't have access to a Jetson TX2 board, but I tried to reproduce this error on a Raspberry Pi 4 using (pseudo) host bundle `rti_connext_dds-6.0.1-pro-armv8Linux4.4gcc5.4.0.tar.gz`.

I had a few warnings from `FindRTIConnextDDS.cmake`, and I had to pass `--cmake-args -DCONNEXTDDS_ARCH=armv8Linux4.4gcc5.4.0 -DRTICONNEXTDDS_VERSION_OK=true` to have it successfully find the installed libraries, but

[2021-01-24 07:50] SBarzz commented on #4
1.What do you mean by installer files?
I copy the contents of the installed files from "rti_connext_dds-6.0.1-pro-armv8Linux4.4gcc5.4.0.tar.gz" to my TX2 to /opt/rti_connext_dds-6.0.1/.

2. I'm building your branch on my TX2. which means that I run the "colcon build.. " on my TX2.

Thanks

[2021-01-25 14:13] SBarzz commented on #4
Hi @asorbini, any update?

[2021-01-25 22:34] asorbini commented on #4
@SBarzz I have identified a couple of issues, and I'm currently working on a fix, that I expect to push later today.

The problem in your case was that we didn't support eloquent, and even though the RMW successfully built with that release, some of the generated symbols (the ones you received errors about) didn't match the expected signature and were thus not properly linked into the final librar

[2021-01-26 00:10] asorbini commented on #4
The issue should be resolved now. Please let me know if you still run into any problem.

[2021-01-26 10:08] SBarzz commented on #4
Great thanks @asorbini the demo is not working.

But, When I tried to launch the realsense ros node for example with the connext rti RMW, I got this error:

[code]

Any idea on how to solve it?

[2021-01-26 17:01] asorbini commented on #4
Thank you for confirming @SBarzz

[2021-01-26 17:01] #4 closed

[2021-03-03 00:37] ruffsl opened #8 "Terminate called after throwing an instance of 'rclcpp::exceptions::RCLError' with Nav2"
**System Info**

- _OS_
  - Ubuntu 20.04
- *ROS version and installation type*
  - foxy/binary
- *RTI Connext DDS version and installation type*
  - rti_connext_dds-6.0.1-eval-x64Linux3gcc5.4.0.run
- *RMW version or commit hash*
  - 61d1c2f

**Bug Description**

The Nav2 stack crashes immediately upon startup when using `rmw_connextdds`.

**Expected Behavior**

The nav2 stack works as expected whe

[2021-03-03 21:14] asorbini commented on #8
HI @ruffsl, I'm able to reproduce the error and I'm investigating the root cause. I'll report back as soon as I have a better idea, thank you for your report for now!

[2021-03-03 21:18] asorbini commented on #8
Actually, I'm not 100% sure I'm getting the same error: on my side, the "error" manifests itself as a crash of `rviz2` a few seconds after lunch. Other components seem to be working (or at the very least they don't crash). Does this match your experience?

[2021-03-03 21:32] ruffsl commented on #8
Yes, that about matches my experience. The navigation lunch file starts a number of nodes, rviz among them that briefly appears but quickly crashes after lunch. The policy file within the policy folder includes a listing of all the nodes and their topics, services, and actions used. It seems no longer to be exhaustive, so it's temporarily commented out in the root level enclave, swapped with forgi

[2021-03-05 02:10] asorbini commented on #8
I discovered a problem in the way some objects were registered on the DomainParticipant (wrappers to the ROS message type supports), and fixing that seems to have resolved the crash.

The fix has been pushed to `master`, please let me know if you experience any other issue.

I tested the demo in the unsecure configuration with `rmw_connextdds` using both RTI Connext DDS 5.3.1 and RTI Connext DDS 6

[2021-03-05 04:47] ruffsl commented on #8
I just tested the demo again using 75975f32020aa51e2469770849fca3dd1ea00639 , and both the navigation and mapping sections of the demo are working like a charm with `rmw_connextdds`. Even security with the permissive `*` policy is working as well!

I now finally have a rmw with a working baseline using Secure DDS on a real world ROS2 Foxy stack with which to debug our minimal spanning access contr

[2021-03-05 06:08] asorbini commented on #8
That's awesome, great to hear it's working as expected! I'll go ahead and close the issue.

Is this because you need to update your permissions file for some additional endpoints? Unless `rmw_connextdds` is not "mangling" the topic name correctly (but that doesn't look to be the case for a client's reply topic).

I'm trying to get to the bottom of some [test failures](https://ci.ros2.org/job/ci_li

[2021-03-05 06:08] #8 closed

[2021-03-05 22:01] asorbini opened #9 "Replace ros2/rmw_connext with rticommunity/rmw_connextdds"
This issue tracks several PRs aimed at switching the RMW implementation for RTI Connext DDS included in the ROS2 source tree from the one provided by [ros2/rmw_connext](https://github.com/ros2/rmw_connext) (`rmw_connext_cpp`) to the one provided by [rticommunity/rmw_connextdds](https://github.com/rticommunity/rmw_connextdds) (`rmw_connextdds`) in preparation for the ROS2 [Galactic](https://docs.ro

[2021-03-05 22:07] emersonknapp commented on #9
Based on this ticket - are you also planning to remove `rmw_connext` from the default `ros2.repos` here https://github.com/ros2/ros2/blob/master/ros2.repos#L290 ?

[2021-03-05 22:17] wjwwood commented on #9
@emersonknapp Once we get everything in place, I think that's the plan. We still have to review these pull requests of course.

[2021-03-05 22:18] emersonknapp commented on #9
:+1: just trying to help make sure that list is complete - https://github.com/ros2/ci will need updates too

[2021-03-05 22:36] asorbini commented on #9
@emersonknapp I plan on creating a PR for `ros2/ci` next. I've already gone through the exercise of finding all required changes, but I haven't yet got around to applying them in a fork.

Once I create that PR, I'll likely need some guidance to make sure things look good, since I'm not sure how we will approach these updates (especially when it comes to making sure nothing breaks catastrophically

[2021-03-06 13:53] clalancette commented on #9
By the way, I realized one other thing.  Once we merge all of these PRs and get a successful run on https://ci.ros2.org, we are also going to have to do a bloom release and get it onto https://build.ros2.org right away.  That's because all `Rpr` jobs are going to fail until we get a successful `rmw_connextdds` release done via bloom.

[2021-03-08 14:01] ivanpauno commented on #9
I think that some of the PRs above are needed to make CI pass with `rmw_connextdds`, but others are only removing support for `rmw_connext_cpp`.

I would first only merge the ones in the first group, which is going to make things easier IMO.

PRs required to make `rmw_connextdds` pass CI:

- https://github.com/ros2/rmw_implementation/pull/182
- https://github.com/ros2/rosidl_python/pull/127 (neede

[2021-03-08 18:14] emersonknapp commented on #9
For sequencing - I would expect ^ to be the _first_ step once it has been determined to work correctly. It seems to me that there is definitely an order of operations that results in nothing being broken, _and_ without having to synchronize any of the actions.

[2021-03-08 19:11] asorbini commented on #9
Thank you all for your input. I'd like to combine your suggestions, in that I think we could rank the PRs in order of priority, and do staggered merges, while also proceeding with a more incremental policy.

Indeed all these PRs try to replace `rmw_connext_cpp` with `rmw_connextdds` "atomically", and we might be making the transition more complicated than it needs to be.

From your suggestions, I'

[2021-03-08 21:40] ivanpauno commented on #9
Or should this change also be incremental?

IMO, removing the old implementations from CI directly is fine.

The plan sounds perfect to me, @clalancette can you double check if this is fine?

[2021-03-08 23:04] clalancette commented on #9
Yes, agreed.  I think we should aim to completely replace `rmw_connext_cpp`, I just want to make sure we aren't causing problems for everyone else while we are doing it.

Two additional items:
1. As we've discussed elsewhere, we need to change the cmake WARNING message in `rmw_connextddsmicro` to a STATUS message (so our CI will go green).
2. In order for us to automatically branch from Rolling ->

[2021-03-11 07:06] asorbini commented on #9
I have made progress on several tasks (as reflected in the [edited comment](https://github.com/rticommunity/rmw_connextdds/issues/9#issuecomment-793002295) above).

@clalancette can you help me complete the "blooming" and releasing of `rmw_connextdds`? I also need help in figuring out how to make the proposed changes to ci.ros2.org (and if what I found is enough to disable `rmw_connext_cpp` and en

[2021-03-11 13:45] clalancette commented on #9
I *think* you've figured this out, since you successfully opened the PR.  I've now fixed the name of the release repository under ros2-gbp, so you should be able to re-release there.  Ping me again once you've re-opened the PR, I'll take a look at the release repository.

Essentially you can change the code on https://github.com/ros2/ci , and then there is a field in https://ci.ros2.org/job/ci_lau

[2021-03-11 21:33] asorbini commented on #9
I bloomed a new release (0.2.1), and opened a new PR with the `ros2-gbp/rmw_connextdds-release` repository ([ros/rosdistro#28572](https://github.com/ros/rosdistro/pull/28572)).

Thank you for the setup work, I'll try my hand at running with these changing and report back!

[2021-03-11 22:14] clalancette commented on #9
All right, we merged and the buildfarm tried to build it, but it failed:

https://build.ros2.org/view/Rbin_uF64/job/Rbin_uF64__rmw_connextdds_common__ubuntu_focal_amd64__binary/2/consoleFull

The interesting thing there is that it found Connext during initial CMake `find_package` time, but failed to link to it at the end.  It sort of feels like a missing LD_LIBRARY_PATH or similar somewhere, but I

[2021-03-11 22:35] asorbini commented on #9
This ouput from `cmake` is a bit suspicious to me:
[code]

Usually `rti_connext_dds_cmake_module` generates an [`...-extras.cmake` file](https://github.com/rticommunity/rmw_connextdds/blob/master/rti_connext_dds_cmake_module/rti_connext_dds_cmake_module-extras.cmake.in) that stores the value for `NDDSHOME` it found during build.

I went to check the [build job for that module](https://build.ros2.o

[2021-03-11 23:24] asorbini commented on #9
I think the reason why the build for `rmw_connextdds_common` succeeded and was able to detect the Connext installation is because it implicitly loaded `rosidl_typesupport_connext_c`, likely as a transitive dependency (e.g. via `rosidl_default_runtime`).

[code]

The linker step failed because `rti_connext_dds_cmake_module` didn't generate the "env hook" which would have configured the shell enviro

[2021-03-11 23:36] nuclearsandwich commented on #9
I didn't realize that the new connextdds rmw also had a new _cmake_module provider. In order for that cmake_module provider to pick up the non-Debian standard RTI libraries the setup script needs to be sourced. In fact it needs to be patched to be sh-compatible and then sourced. Here's the relevant lines of how this is done in connext_cmake_module:

https://github.com/ros2-gbp/rosidl_typesupport_c

[2021-03-11 23:45] nuclearsandwich commented on #9
@asorbini I've opened https://github.com/ros2-gbp/rmw_connextdds-release/pull/1 which I think is the missing piece. Once that's done the _cmake_module packages env hook will propagate the necessary info to other ROS packages so they don't need to directly source the rtisetenv script.

[2021-03-12 00:07] asorbini commented on #9
I merged the PR, thank you @nuclearsandwich for catching this missing piece!

I will re-bloom the repository and keep my fingers crossed.

[2021-03-12 00:27] asorbini commented on #9
Re-bloomed and [opened a PR](https://github.com/ros/rosdistro/pull/28574).

[2021-03-12 03:06] asorbini commented on #9
Thank you @clalancette for merging the PR.

Unfortunately it seems like the build jobs [failed again](https://build.ros2.org/view/Rbin_uF64/job/Rbin_uF64__rmw_connextdds_common__ubuntu_focal_amd64__binary/5/) during the `dh-shlibdeps` step.

This time, `rti_connext_dds_cmake_module` correctly generated an env hook, but I think the issue is that I'm missing a `<buildtool_export_depend>ament_cmake</

[2021-03-12 09:06] asorbini commented on #9
I opened [ros2/rclcpp#1574](https://github.com/ros2/rclcpp/pull/1574) to fix a test regression, which I think is the only remaining "obstacle" towards all green CI plans (pending a couple of re-runs after the PR is merged to make sure everything is stable).

See [ci_linux$12921](https://ci.ros2.org/job/ci_linux/13921) for a run with the default `ros2.repos` and `rmw_connextdds` added via overlay.

[2021-03-12 13:22] ivanpauno commented on #9
I don't think that was the problem, but adding that line should be fine.
From the logs, the issue seems to be:

it's weird that it wasn't able to find the library

[2021-03-12 13:49] clalancette commented on #9
So, one problem is that it looks like the patch to the release repository didn't stick; in https://build.ros2.org/view/Rbin_uF64/job/Rbin_uF64__rmw_connextdds_common__ubuntu_focal_amd64__binary/5/consoleFull , I don't see it trying to source `/tmp/rtisetenv.sh`.

However, even when I hacked that into my local build, I couldn't get it to work.  The following is enough to be able to reproduce it loc

[2021-03-12 15:08] ruffsl commented on #9
Not sure if it's entirely applicable, but you can check out the docker file here as a reference example for environmental setup of connext 5.3.1 or 6.0.1:

https://github.com/ros-swg/turtlebot3_demo/blob/master/Dockerfile

[2021-03-12 17:49] asorbini commented on #9
@clalancette thank you for the tip, I'll give local debugging a try and compare the release repository with the one for `rmw_connext_cpp` to see if there are any more differences.

Meanwhile, I generated 0.3.0-1 last night ([#28598](https://github.com/ros/rosdistro/pull/28598)) to test if those missing deps in `package.xml` will make any difference.

@ruffsl I think in this case the issue is more

[2021-03-12 18:40] nuclearsandwich commented on #9
That package is not supposed to source the RTI script. Everything downstream of rti_connextdds_cmake_module should get its environment set by the hooks created in that package.

@asorbini one advantage of the ros_buildfarm scripts is that they can be used to generate local environments as well as on the buildfarm. If you install the ros_buildfarm python module (I recommend using the master branch

[2021-03-12 18:49] nuclearsandwich commented on #9
That package is not supposed to source the RTI script. Everything downstream of rti_connextdds_cmake_module should get its environment set by the hooks created in that package.

@asorbini one advantage of the ros_buildfarm scripts is that they can be used to generate local environments as well as on the buildfarm. If you install the ros_buildfarm python module (I recommend using the master branch

[2021-03-13 00:45] asorbini commented on #9
@nuclearsandwich I installed the `ros_buildfarm` from `git`, and tried running the command you provided.

After figuring out the authentication (by creating an OAuth token on GitHub), I'm getting an "Access Denied" error (`asorbini is missing the View/Configure permission`).

Anything I may be doing wrong?

[2021-03-13 01:38] asorbini commented on #9
@clalancette I've been running the CI plans with branch `asorbini/rmw_connextdds` or `ros2/ci`, and with the manifest from [ros2/ros2#1099](https://github.com/ros2/ros2/pull/1099).

The results were green this morning, but now show a regression in `test_tutorial_parameter_events__rmw_connextdds` from `demo_nodes_cpp` (links in the task list above)

I tried running the test locally (and running `pa

[2021-03-13 02:02] nuclearsandwich commented on #9
Hmm. You shouldn't need any authentication to clone repositories that are all public. GitHub was down when I composed that example command so perhaps I made a mistake.

[2021-03-13 02:05] nuclearsandwich commented on #9
Ah, yes. I had a very critical mistake in my example. generate_release_<em>job</em>.py tries to update the job on the buildfarm Jenkins instance, which does need Jenkins credentials that you do not and should not have.. The proper command is generate_release_<em>script</em>.py. Sorry about that!

[code]

All other instructions stand.

[2021-03-13 07:59] asorbini commented on #9
After some investigation, I noticed that the build for `rmw_connext_shared_cpp` and other packages loading Connext via `connext_cmake_module` and its CMake find script, will link `nddsc` and its dependencies after `-Wl,--no-as-needed` (e.g. `-Wl,--no-as-needed -lnddsc -lnddscore -lnddscpp -lrticonnextmsgcpp -lpthread -ldl -Wl,--as-needed`).

This is not happening for `rmw_connextdds_common`, since

[2021-03-15 04:46] ldg810 opened #10 "How can I use rmw_connextdds in Jetson Nano?(armv8)"
Hi, I am trying to use RTI DDS with ROS2.

System Info

- OS
20.04 (Jetson Nano Development Kit, upgrade to 20.04 from latest L4T image)
- ROS version and installation type
foxy
- RTI Connext DDS version and installation type
6.0.1

In desktop environment, I succeed with installing RTI DDS 6.0.1 with rmw_connextdds repository.

My working area is drone, so I am trying to install RTI DDS in Jetson

[2021-03-15 06:47] ldg810 commented on #10
I did following modifications and I succeed to use RTI connext DDS in Jetson Nano.

- copy include dir, rti_versions.xml and resource/cmake/FindRTIConnextDDS.cmake from desktop RTI 6.0.1 directory to Jetson.
- modify <architecture> in <target_libraries> in rti_versions.xml from "x64Linux2.6gcc4.4.5" to "armv8Linux4.4gcc5.4.0"

Then, everythings works well.

Do you think is this right way to correc

[2021-03-15 13:01] clalancette commented on #9
Certainly one of those two things could be the problem.  I don't really know since I wasn't involved in setting up `rmw_connext_cpp` originally.

You can either do the "by-hand" method that I pointed out, or the docker method that @nuclearsandwich pointed out.  Once you have things reasonably working there, I don't know of a further way to do testing except "live" on the buildfarm.

So my suggesti

[2021-03-15 14:02] ivanpauno commented on #9
I tracked down why that was the case, and adding that flag seems to be recommended in the [rti Connext 5.3.1 platform notes](https://community.rti.com/static/documentation/connext-dds/5.3.1/doc/manuals/connext_dds/RTI_ConnextDDS_CoreLibraries_PlatformNotes.pdf):

[code]

We're using newer gcc versions, so IDK if that's still needed or not.
The current error doesn't seem related to the lack of that

[2021-03-15 17:13] asorbini commented on #9
Yep, I have was able to reproduce locally with @nuclearsandwich's instructions. I was thinking more among the lines of "is there a way for me to test the release process with a custom branch/tag of the repository so that I may make changes to the source repo and not have to regenerate the `*.orig.tar.gz` by hand?" (because I "suspect" the Docker container creates everything from the info in `rolli

[2021-03-15 19:40] asorbini commented on #9
I think I found the issue!

When building with Connext 5.3.1, the CMake helper function `rti_find_connextpro()` defines an imported target `RTIConnextDDS::c_api` to mimic the behavior of the `FindRTIConnextDDS.cmake` script in 6.0.1. Unfortunately, it looks like [the imported library is currently missing property `IMPORTED_SO_NAME`](https://github.com/rticommunity/rmw_connextdds/blob/f761dc11d575c

[2021-03-15 20:37] clalancette commented on #9
It looks like it built!  Woohoo!

So here is a follow-up list:
1. It looks like the package https://build.ros2.org/job/Rbin_uF64__rmw_connextddsmicro__ubuntu_focal_amd64__binary/ is an empty package.  That makes sense, since we don't currently have Connext Micro installed anywhere, and so the build just doesn't do anything.  Given that that is the case, I'll highly suggest that we remove that pack

[2021-03-16 00:17] asorbini commented on #9
Good idea! I had noticed the `<release>.ignored` in other release repositories, and I was already considering adding one. I added `rmw_connextddsmicro` to the ignored list and [re-bloomed the repository](https://github.com/ros/rosdistro/pull/28652).

I did a local test, and the packages installed and ran a hello world talker/listener with no issue (including some basic command line tools, like `ro

[2021-03-16 13:38] ivanpauno commented on #9
That one is new and started happening also with `rmw_connext_cpp`, I have opened a PR to fix it: https://github.com/ros2/demos/pull/491.

[2021-03-16 18:40] asorbini commented on #10
Hi @ldg810, thank you for your questions!

It looks like you pretty much figured out on your own all of the files required to generate an installation of Connext that can be used for a native build of `rmw_connextdds` on an ARM target.

As you correctly identified, in order to build the repository you will need:
- The `include/` directory containing the header files.
- The `FindRTIConnextDDS.cmake

[2021-03-16 18:41] asorbini commented on #10
I'm going to do a test of my proposed workflow, since I haven't actually tested it yet. I might have missed `rti_versions.xml` in my instructions.

[2021-03-16 21:17] spiderkeys commented on #10
We had to solve the same problem a month or so ago, so for whom it might be useful, here is a quick and dirty script that quickly creates host-lite release for a 'target' platform from a host installation and achieves what Andreas describes:

rtidist.sh
[code]
Usage:
[code]
This will create a folder called `rti_connext_dds-6.0.1-armv8Linux4.4gcc5.4.0` with all of the files required to both be used

[2021-03-16 22:22] asorbini commented on #10
Thank you for the contribution @spiderkeys, your script is definitely more high-level than my instructions and it could be useful to others!

Just FYI, if you are creating this version only to support compilation of `rmw_connextdds` then you could restrict the list of copied files to the ones I suggested in my previous comment:

- `${CONNEXTDDS_DIR}/include`
- `${CONNEXTDDS_DIR}/lib/${CONNEXTDDS_A

[2021-03-16 22:50] asorbini commented on #10
I'm closing the issue since I think we have a "solution" for now. Feel free to continue discussing the topic as needed.

[2021-03-16 22:50] #10 closed

[2021-03-23 02:50] iuhilnehc-ynos opened #11 "wildcard filtering expression for sequences"
**Feature Description**

Content filtered topic feature in rti-connext-dds is excellent, especially supporting [arrys and sequences](https://community.rti.com/static/documentation/connext-dds/5.2.3/doc/manuals/connext_dds/html_files/RTI_ConnextDDS_CoreLibraries_UsersManual/Content/UsersManual/SQL_Filter_Expression_Notation.htm#topics_3596570972_161086).

We decide to use this feature to filter dat

[2021-03-23 03:30] fujitatomoya commented on #11
@asorbini
CC: @iuhilnehc-ynos

sorry to interrupt you all the sudden, but as you know we are trying to enable ContentFilteredTopic to ROS2.
for the use case of `ros2 action`, we need to come up with this requirement.
would you mind giving us some feedback as in DDS aspect and RTI implementation.

thanks in advance.

[2021-03-23 05:30] asorbini commented on #11
Hi @iuhilnehc-ynos and @fujitatomoya,

thank you for reaching out, and for filing this issue. I'm glad to see you have been making progress with your work with `rmw_connextdds` and RTI Connext DDS, and what you have identified sounds like a very interesting use case for Connext.

I was trying to think of possible workarounds to overcome the current lack of support for wildcards, and the "unbounded

[2021-03-23 06:09] fujitatomoya commented on #11
@asorbini

thanks for the quick response 👍

that would be really appreciated. one thing we are not sure is that this requirement for wildcard is actually something `should be supported` or  `nice to have`? i am expecting that unbound array/sequence is `nice to have`. if that so, probably rmw would not want to rely on specific implementation's feature but general specification. so we would need to

[2021-03-23 20:49] clalancette commented on #9
All right, I've merged and deployed the changes to CI.  Here's a job with no current changes, just to make sure things are working as I expect:

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=14044)](http://ci.ros2.org/job/ci_linux/14044/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=8865)](http://ci.ros2.org/job/c

[2021-03-23 23:13] asorbini commented on #11
At this point it's definitely a `nice to have`, because it's not a straightforward change, and it would be great to address it in the spec for interoperability, although it looks like Connext already supports several extensions, after taking a look at the SQL-like grammar in [Appendix B of the DDS Spec](https://www.omg.org/spec/DDS/1.4/PDF).

One aspect I had not considered earlier is that we alre

[2021-03-23 23:16] #11 closed

[2021-03-24 00:20] fujitatomoya commented on #11
@asorbini thanks for the insights.

[2021-03-24 12:59] clalancette commented on #9
OK, we have a lot of this in now.  Here's what I think still needs to be done:

Before freeze (April 5):
* [ ] Review and merge https://github.com/ros2/demos/pull/489
* [ ] Review and merge https://github.com/ros2/rclpy/pull/698/files
* [ ] Review and merge https://github.com/ros2/rosidl_python/pull/127
* [ ] Review and merge https://github.com/ros2/rosidl_typesupport/pull/106
* [ ] Check if there

[2021-03-24 14:23] clalancette commented on #9
Here's a CI run with all of the open PRs to see where we are:

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=14057)](http://ci.ros2.org/job/ci_linux/14057/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=8877)](http://ci.ros2.org/job/ci_linux-aarch64/8877/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/ico

[2021-03-24 17:44] ivanpauno commented on #9
My 2 cents about merge ordering:

- First I would merge, CI will still pass as that was only needed to make bloom happy.
  - ros2/rmw_implementation#183
  - ros2/rosidl_python#127
  - ros2/rosidl_typesupport#106
- Then https://github.com/ros2/ros2/pull/1116
- Then remove references to `rmw_connext_cpp` and `rmw_connext_dynamic_cpp` that don't affect the build
  - https://github.com/ros2/rclpy/pull

[2021-03-24 18:53] clalancette commented on #9
All of the failures in uncrustify were fixed by my latest commits in rclcpp, so that should go away.  The only other failure was on Windows, but I think @asorbini knows about that one and is looking into it.

I'm going to go back through the open PRs and respond to comments now.

[2021-03-24 18:57] asorbini commented on #9
The failure is slightly different from what I've seen before, but [it still seems related to "clock jitter" on Windows](https://ci.ros2.org/job/ci_windows/14148/testReport/rcl/WaitSetTestFixture__rmw_connextdds/zero_timeout/) (so to speak). I'll investigate the specific test case further to confirm it, but I would assess the failure as "minor" for now.

[2021-03-24 22:58] asorbini commented on #9
@clalancette thank you for transferring the repository to the `ros2` org 🎉

Here's some "follow up" items:
- [PR to update ros2.repos](https://github.com/ros2/ros2/pull/1117)
- [PR to updated ros2/rosdistro](https://github.com/ros/rosdistro/pull/28827)
- I already updated [tracks.yml](https://github.com/ros2-gbp/rmw_connextdds-release/blob/master/tracks.yaml) to point to the new URL.

Q: should I

[2021-03-25 14:21] clalancette commented on #9
One more CI with all of the things that have been merged, plus the changes in https://github.com/ros2/rcl/pull/903, https://github.com/ros2/rclpy/pull/698, and https://github.com/ros2/rclcpp/pull/1595:

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=14077)](http://ci.ros2.org/job/ci_linux/14077/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?

[2021-03-25 14:24] clalancette commented on #9
No, it shouldn't be necessary.  It will all just be in place for when the next release gets done.

[2021-03-29 21:16] asorbini opened #19 "Add Quality Declarations according to REP-2004"
The repository is currently missing Quality Declarations for each contained package in accordance with [REP-2004](https://github.com/ros-infrastructure/rep/blob/master/rep-2004.rst).

This issue will be used to track their addition, and to provide a forum for any related discussions.

[2021-03-29 21:51] clalancette commented on #9
All right, all things on the various lists here have been completed.  In my opinion, this issue can be closed.  @asorbini I'll let you do the honors.

[2021-03-29 22:47] asorbini commented on #9
Haha, thank you @clalancette, appreciate the opportunity. I wouldn't have taken it personally though, I'm just glad we achieved this milestone 🎉 🎉 🎉

[2021-03-29 22:47] #9 closed

[2021-03-31 19:18] ruffsl opened #21 "Numerous test failures for Nav2 when using rmw_connextdds"
**System Info**

- _OS_
  - Ubuntu 20.04
- *ROS version and installation type*
  - rolling/source
- *RTI Connext DDS version and installation type*
  - `rti-connext-dds-5.3.1/focal,now 5.3.1-nc.x64Linux3gcc5.4.0+2 amd64`
- *RMW version or commit hash*
  - f46c39d7db6797a80a24631f2890ebd143bfe54e

**Bug Description**

Numerous failures in Nav2 when testing with `rmw_connextdds` that don't occur wit

[2021-03-31 20:07] asorbini commented on #21
Hi @ruffsl, thank you for this report, I will try to reproduce locally and start investigating.

Meanwhile, a couple of comments:

These warnings are printed by [this utility function in `rmw_dds_common`](https://github.com/ros2/rmw_dds_common/blob/86384ff9b78c587a3097b09680bb35e28646f7aa/rmw_dds_common/src/time_utils.cpp#L38) which was recently introduced and maybe isn't used by other RMWs yet (m

[2021-03-31 21:02] asorbini commented on #21
I think I may have found the reason for the `rosidl_typesupport_cpp` error messages and the [associated fix](https://github.com/ros2/rmw_connextdds/commit/d20ea2f2c790ae9fd431f0b8fcb733f73bd00b1c).

[2021-04-01 16:18] asorbini commented on #21
I'm still investigating, but one thing I've noticed is that the default implementation used by `rmw_connextdds` for WaitSets (based on DDS WaitSets) might be generating too much CPU usage, and causing some tests to fail.

I'm currently focusing on `nav2_system_tests` and, while I still have failures, I get much better results when I compile the RMW with an alternative WaitSet implementation based

[2021-04-03 01:11] asorbini commented on #21
I've been doing some extensive testing locally (by building a "minimal" Rolling tree and the nav2 stack in Debug mode), and created #22 to address some of the issues that I was able to identify.

I have been running tests from `nav2_system_tests` with them and was able to see all tests reported failing by CI pass at least a few times after making some changes to the code (covered by #22). So far,

[2021-04-03 01:22] asorbini commented on #21
I forgot to mention that the issue with the "typesupport" error is caused by an error message in `rosidl_typesupport_cpp` which should really be a debug statement at best.

I had opened a PR to remove it ([rosidl_typesupport#107](https://github.com/ros2/rosidl_typesupport/pull/107)) but closed it for now, because it seems like @clalancette has already one (draft) open to address the same issue ([r

[2021-04-06 15:13] clalancette opened #24 "New release into Rolling"
@asorbini Could you please do a new release of rmw_connextdds into Rolling?  That should help us get the packages building with all of the recent changes for unique network flows and the like.  Thanks.

[2021-04-06 15:16] clalancette commented on #24
I should also add: if you don't have time for it today, just let me know.  I can do the release as well.

[2021-04-06 17:43] asorbini commented on #24
@clalancette I was hoping to merge #22 before a new release, and bump the version number to 0.5.0, but from test results and @ivanpauno's review, I see I still have some work on that, and probably won't be able to merge it before tomorrow at the earliest, to allow for any additional review (assuming I'll be able to get the code in final shape today).

If you can do the release today I would apprec

[2021-04-06 17:48] clalancette commented on #24
Sounds good, I'll go ahead and do it.  Numbers are cheap, we can always bump again :).  Thanks for the reply.

[2021-04-12 13:58] eranroll opened #27 "Cannot run demo node using RMW Connext DDS 6.0.1"
Hi,

I have downloaded RTI Connext DDS 6.0.1 from the RTI downloads website, and also compiled the src of rmw_connextdds using colcon: `colcon build --symlink-install --packages-up-to rmw_connextdds`
When I try to use the RTI Connext RMW, it fails with the following error:
![image](https://user-images.githubusercontent.com/56675729/114405995-d7fa0180-9baf-11eb-91a0-0b2e83f8c14e.png)

This is what

[2021-04-12 20:50] asorbini commented on #27
Hi @eranroll,

thank you for your report.

I have identified and resolved a couple of issues in the `eloquent` branch which had unfortunately escaped my review during the a recent merge to the branch (#18).

Please update to the latest commit ([a64051f](https://github.com/ros2/rmw_connextdds/commit/a64051f340089793ebbbcd0cb7dafe2e1ea1e4fb)) and give it another try. I recommend doing a clean build

[2021-04-13 07:11] eranroll commented on #27
It fixed it. Thank you very much!

[2021-04-13 07:11] #27 closed

[2021-04-14 01:19] asorbini commented on #24
@clalancette I'm going to let CI run overnight to validate the recent changes (#22, #28). If everything is as expected, I'll go ahead and create `0.6.0` tomorrow.

[2021-04-14 18:30] asorbini commented on #24
CI was green/as expected, going ahead with 0.6.0 release now.

For reference:
- nightly_linux_release: [![Build Status](https://ci.ros2.org/buildStatus/icon?job=nightly_linux_release&build=1885)](https://ci.ros2.org/view/nightly/job/nightly_linux_release/1885/)
- nightly_osx_release: [![Build Status](https://ci.ros2.org/buildStatus/icon?job=nightly_osx_release&build=2028)](https://ci.ros2.org/view

[2021-04-14 19:32] asorbini commented on #24
Tagged and bloomed `0.6.0` (ros/rosdistro#29138)

[2021-04-14 19:51] asorbini commented on #21
@ruffsl we merged #22 to address some of the issues that you reported. The commit should have been included in the latest nightly, but I'm not sure if it was picked up by the `nav2` CI (https://app.circleci.com/pipelines/github/ros-planning/navigation2/5175/workflows/79e99820-07e8-420c-94f2-bfba2a356c32/jobs/19071) because I would have expected at least the `Handle's typesupport identifier (rosidl

[2021-04-14 20:17] ruffsl commented on #21
With the cron job cadence between ci.ros2.org, the building of the upstream `osrf/ros2:nightly` parent image, and downstream `rosplanning/navigation2:master.<mode>` image for our CI, it takes a day to propagate, as the cron job for nav2 is scheduled by an offset to avoid rebuilding CI images in the middle of working hours for most nav2 maintainers. Let's check again tomorrow.

Thanks for all the c

[2021-04-14 20:58] #24 closed

[2021-04-15 06:31] asorbini opened #40 "`TestInteractiveMarkerClient.states` fails when run with `rmw_connextdds`"
Test `TestInteractiveMarkerClient.states` from package ros-visualization/interactive_markers fails when run with `rmw_connextdds` ([ref](https://build.ros2.org/view/Rci/job/Rci__nightly-connext_ubuntu_focal_amd64/294/testReport/(root)/projectroot/test_interactive_marker_client/)):

<details>

[code]

</details>

Both failures [[1](https://github.com/ros-visualization/interactive_markers/blob/c99c8

[2021-04-15 06:35] asorbini commented on #40
@ivanpauno @clalancette please take a look at the analysis and let me know if you have any thoughts on how to resolve the issue.

[2021-04-15 18:54] asorbini commented on #21
@ruffsl looks like there were some clear improvements ✌🏼 https://app.circleci.com/pipelines/github/ros-planning/navigation2/5182/workflows/6c36e959-ed6c-4c22-ae1d-e07ac1418e13/jobs/19097

[2021-04-15 20:42] ruffsl commented on #21
Indeed, from 15 failures down to just 5; a great improvement. Skimming through the error logs, it seems like there may be some liveliness issues with bond, like missed heartbeat, as well as dropped messages, like for configuring the costmaps.

[code]

[code]

[code]

@SteveMacenski , are there any current tickets that discuss these symptoms, or are these unexhibited in other RMWs? Any suggestions

[2021-04-15 20:51] SteveMacenski commented on #21
I have never seen this with any other middlewares. I think if we did, I'd be flooded with issues being submitted about it from users (as we have many using both Fast-DDS and Cyclone).

[2021-04-15 21:04] asorbini commented on #21
These might have something to do with delays in discovery caused by the default participant announcement settings (5 initial announcements, sent once every second, and then once every 30s, see [API docs for relevant QoS](https://community.rti.com/static/documentation/connext-dds/6.0.1/doc/api/connext_dds/api_c/structDDS__DiscoveryConfigQosPolicy.html#a2abc915422be346150d8cfc09d3345e1)). They may a

[2021-04-15 21:31] ivanpauno commented on #21
Yes!!
This doesn't sound like a discovery issue (bond has its own heartbeats), and it's pretty a reliability settings issue (I was pretty surprised when I read "3s").

P.S.:
I don't understand why bond was even ported to ROS 2.
It made sense in ROS 1, but DDS has already a lot of hearbeating.
We maybe should have some "node" liveliness callbacks, that will be called when a node gets "disconnected"

[2021-04-15 21:58] SteveMacenski commented on #21
Because I ported it because the DDS eq. weren't exposed yet

[2021-04-26 18:59] asorbini opened #45 "Implement support for unique network flows"
`rmw_connextdds` and `rmw_connextddsmicro` do not currently support the RMW APIs to request unique network flows (see ros2/design#304).

#13 introduced stubs for all new functions, and a check to fail and inform users who might be trying to use the feature.

This issue means to discuss and track the work required to implement this support (e.g. map unique flow requests to specific QoS settings for

[2021-04-26 20:48] clalancette opened #46 "New minor release into Rolling/Galactic"
@asorbini I was going to do a new minor release into both rolling and galactic, 0.6.1.  This will get one more fix into Galactic that is pending, and it is just easier at this point to keep Rolling >= to Galactic.  Any objections?

[2021-04-26 21:00] asorbini commented on #46
Sounds good, thank you for the heads up.

I'm assuming the fix you are referring to is #43?

[2021-04-26 21:09] clalancette commented on #46
Ah, no, it looks like the fix that is already committed is #33; that's the one I wanted to release to both Galactic and Rolling.  Still OK?

[2021-04-26 21:14] asorbini commented on #46
Oh right, forgot about that. Still all good 👍🏼

[2021-04-26 21:48] clalancette commented on #46
https://github.com/ros/rosdistro/pull/29306 and https://github.com/ros/rosdistro/pull/29307 are open.  They aren't merged yet, but I'll do a pass a little later on (or tomorrow morning) and merge them.  So I'll close this out, thanks for the feedback!

[2021-04-26 21:48] #46 closed

[2021-05-10 14:05] asobhy-qnx opened #56 "QNX build"
I am using a prebuilt rti_me_dds library for QNX and linking against it. In ros2 rolling, I am trying to build rmw_connextdds_common for QNX and I am getting the following error: Also I get an error of "dds_c/dds_c_string_manager.h"  missing

In file included from /home/builder/shared/rti_me/src/dds_c/domain/DomainParticipant.h:33,
from /home/builder/ros2_rolling/src/ros2/rmw_connextdds/rmw_connex

[2021-05-12 13:43] ivanpauno commented on #40
Uff :man_facepalming:

The suggested patch seems to be only a workaround.
It might be fine to get the issue fixed temporarily, but we should manage ownership of objects correctly so this cannot happen.

[2021-05-12 14:57] ivanpauno commented on #40
I think https://github.com/ros2/rclcpp/pull/1668 should fix the issue.

[2021-05-13 15:13] #40 closed

[2021-05-13 15:58] asorbini commented on #40
@ivanpauno thank you for looking into this. Just wondering if you validated the fix with `rmw_connextdds`?

I don't see CI results (the one in ros2/rclcpp#1688 only tested Cyclone) and this error only occurred when `RMW_IMPLEMENTATION=rmw_connextdds`.

[2021-05-13 16:46] ivanpauno commented on #40
Good question, I didn't sorry.
I'm confident that fixed the issue, but let's check in CI:

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=14630)](http://ci.ros2.org/job/ci_linux/14630/)

[2021-05-13 17:05] asorbini commented on #40
Great, looks like it fixed the issue. Thanks again!

[2021-05-13 21:00] clalancette opened #57 "The setenv_ros2rti.bash script points to the wrong RMW"
The documentation at https://docs.ros.org/en/galactic always tells users to source `/opt/rti.com/rti_connext_dds-5.3.1/resource/scripts/rtisetenv_x64Linux3gcc5.4.0.bash` when using RTI Connext 5.3.1 from the debian, which is the correct thing to do.

However, the vestigial `/opt/rti.com/rti_connext_dds-5.3.1/setenv_ros2rti.bash` still exists, and sets the RMW_IMPLEMENTATION to `rmw_connext_cpp`, w

[2021-05-20 20:18] clalancette opened #58 "Release of 0.6.2 into Galactic"
@asorbini FYI, I'm going to do a release of 0.6.2 into Galactic to get #54 included in the binary packages.

Relatedly, this means that the next time we do a release into Rolling, we *must* remember to bump the minor on it (this would be 0.7.0).  That's so that we leave room in the patch numbers for any further updates to Galactic.  If you'd prefer, I can do a Rolling release of 0.7.0 right now so

[2021-05-24 18:50] asorbini commented on #58
@clalancette sorry for the delay in reply, I was out for a few days. Thank you for taking care of this. We'll keep in mind the required bump of minor version for the next release into Rolling!

[2021-05-24 18:51] #58 closed

[2021-06-02 17:01] ivanpauno opened #59 "New release"
I need a new release after having merged https://github.com/ros2/rmw_connextdds/pull/20.
If not, the rolling PR checker isn't going to pass in the rmw implementation repo https://github.com/ros2/rmw_implementation/pull/188.

@asorbini I can do it, but I wanted to double if that's ok or if you prefer to do it.

[2021-06-02 21:10] asorbini commented on #59
@ivanpauno thank you for checking! If you can, go ahead with the release. Keep in mind that for Rolling, we should bump the minor release number, as pointed out by @clalancette in [this comment](https://github.com/ros2/rmw_connextdds/issues/58#issue-897397176).

[2021-06-04 13:58] ivanpauno commented on #59
Done https://github.com/ros/rosdistro/pull/29771.

[2021-06-04 13:58] #59 closed

[2021-06-15 06:50] AlonSheaderAtForetellix opened #60 "ROS won't find rmw_connextdds when not installed at ~/"
**System Info**

- _OS_
  - Ubuntu 20.04
- *ROS version and installation type*
  - foxy/source
- *RTI Connext DDS version and installation type*
  - Pro 6.0.1
- *RMW version or commit hash*
  - 46b23ca3ca718ab4c624898b1e543b0b3e57000d

**Bug Description**

When following the quick installation guide,
the demo will work for installing in ~/ros2_connextdds/src/ros2
But not in any different directory

[2021-06-15 07:10] asorbini commented on #60
@AlonSheaderAtForetellix can you please provide more information on your issue?

I'm not sure I understand it, and I'm unable to reproduce it. I just tried a quick test, and the following worked for me without problems:

[code]

In general, you can build and load the RMW like any other ROS 2 package, i.e. by placing it inside a "workspace" directory and running `colcon build`, then loading the wor

[2021-06-15 08:34] AlonSheaderAtForetellix commented on #60
@asorbini

Thanks you for the quick reply.
I am not able to reproduce my issue.
Things are working as expected, I guess I had to get some of your MOJO for run it properly :)

Closing.

[2021-06-15 08:34] #60 closed

[2021-07-27 02:04] chinsiong opened #62 "max_blocking_time is modified from default"
The reliability qos max_blocking_time has a default value of 0ms on a DataReader and 100ms on a DataWriter. Modifying it to an INFINITE value alters the behaviour of the endpoints.

https://github.com/ros2/rmw_connextdds/blob/938d7d10de56528a32de020ebb9e5d56b5b24076/rmw_connextdds_common/src/common/rmw_impl.cpp#L359

[2021-08-20 15:29] asobhy-qnx opened #63 "should return if CONNEXTDDS_ARCH is not set after guessing"
https://github.com/ros2/rmw_connextdds/blob/46b23ca3ca718ab4c624898b1e543b0b3e57000d/rti_connext_dds_cmake_module/cmake/rti_build_helper.cmake#L562

should be:
[code]

[2021-08-31 13:45] millerluki opened #64 "Message compatibility to native DDS"
**System Info**

- _OS_
  - Ubuntu 20.04
- *ROS version and installation type*
  - galactic/binary - apt
- *RTI Connext DDS version and installation type*
  - rti-connext-dds-5.3.1/apt
- *RMW version or commit hash*
  - ros-galactic-rmw-connextdds: 0.6.2-1focal.20210630.224436

**Bug Description**

Generated *.idl files from colcon & rosidl command line tool do not match with the observed messages

[2021-09-01 01:11] asorbini commented on #64
Hi @millerluki,

Thank you for your report. First of all let me try to shed some light on this apparent naming inconsistency, which stems from some design and implementation decisions in ROS2 that are not specific to the Connext RMW.

In particular, it looks like during the implementation of the other Tier 1 RMW implementations and the old implementation for Connext (`rmw_connext_cpp`), the choice

[2021-09-01 01:20] asorbini commented on #63
Hi @asobhy-qnx,

Thank you for your suggestion! The change makes sense to me, since at the moment the build will "fall through" without a `CONNEXTDDS_ARCH` value, and fail more subtly at a later point.

I'll try to update the build files soon, but feel free to open a PR on the repository if you want/have the bandwidth. Community contributions are always welcome 😄

[2021-09-02 08:12] millerluki commented on #64
Thank you for your quick and detailed answer. I will have a try to the various options over the next few days and will give you feedback.

[2021-10-08 15:03] goksanisil23 opened #66 "Missing header file in 0.8.0 release"
**System Info**

- _OS_
  -Ubuntu 20.04
- *ROS version and installation type*
  - ROS2 Galactic
- *RTI Connext DDS version and installation type*
  - Connext 6.0.1
- *RMW version or commit hash*
  - 0.8.0 release

**Bug Description**

While building the 0.8.0 release, I'm getting the following error:

Starting >>> rmw_connextdds_common
--- stderr: rmw_connextdds_common
/opt/ros2_connextdds_latest/

[2021-10-08 17:26] #66 closed, assigned to asorbini

[2022-01-31 13:32] xander-m2k opened #70 "rclcpp::SensorDataQoS not working for sensor_msgs::msg::Images"
**System Info**

- _OS_
  - Ubuntu 20.04
- *ROS version and installation type*
  - ROS Foxy binary install
- *RTI Connext DDS version and installation type*
  - Newest apt packages Foxy as of today

**Bug Description**

When publishing sensor_msgs::msg::Image with images larger than h*w (tested with height 1944 width 2592), and using the standard QoS for sensors, messages cannot be read. Messages

[2022-02-01 18:35] asorbini commented on #70
Hi @xander-m2k,

thank you for reporting this issue. I will try to reproduce it soon, but on the top of my head, I suspect the issue might lie in the use of "best effort" Reliability QoS ([used by the "sensor data" profile](https://github.com/ros2/rmw/blob/de38e79ca8906c8a7757557acdef57f8474351ff/rmw/include/rmw/qos_profiles.h#L25)) when trying to send "large data" (i.e. messages which need DDS-le

[2022-03-08 15:18] MartijnVogelaar opened #75 "Exposing the configuration to force local traffic on loopback"
**Exposing the configuration to force local traffic on loopback**

In the previous version of the RMW, [rmw_connext](https://github.com/ros2/rmw_connext) the local traffic was, by default, forced to be sent over loopback as can be seen [here.](https://github.com/ros2/rmw_connext/blob/1386fd6ca29b10a3b7c2214af31a5b68c0d0e20b/rmw_connext_shared_cpp/src/node.cpp#L143-L151)

This allowed me to capture

[2022-03-16 03:10] asorbini commented on #75
Hi @MartijnVogelaar,

That macro is a left over from some code that has since been delete. As you correctly guessed, the code had been initially ported from `rmw_connext_cpp` to support the duplication of data over loopback. As I understand it, this configuration was used by `rmw_connext_cpp` to overcome some interoperability issues with other RMWs, which have since been resolved.

Additionally, t

[2022-03-17 12:41] MartijnVogelaar commented on #75
Hi @asorbini

Thanks for the reply! I already found another workaround but thanks nevertheless!

Consider the issue solved!

[2022-03-17 12:41] #75 closed

[2022-03-31 14:26] sumitpaulde opened #78 "Communication between different domain ID."
Hi, I would like to know how can we establish communication between different DDS domain_ids while using Connextdds.

[code]

For other DDS implementation as, Cyclone DDS there is zenoh_bridge_dds to support this kind of connectivity. I am unable to find any framework or library to support the different domain connectivity for Connext_DDS. Please suggest me.

[2022-03-31 16:11] asorbini commented on #78
Hi @sumitpaulde,

I'm not sure what your goal is. DDS domain are specifically designed to be isolated from one another.

If you want to have two applications in different domains communicate with each other, you will need to create a third application that operates in both domains and acts as a bridge between the two.

[RTI Routing Service](https://www.rti.com/products/is/routing-service) can prov

[2022-03-31 16:11] #78 closed

[2022-04-27 23:13] maspe36 opened #86 "Interop with DDS application using existing .idl files"
I'm trying to create a ROS2 node that can listen to messages being published from an existing DDS application. I think I've checked most of the regular interop checkboxes, however still no luck with the interop

- [x] Same domain id
- [x] Same QoS settings
- [x] Both using RTI DDS
- [x] Topic name starts with `rt/`
- [x] Type is under two modules which line up with my ros2 package

I created a mes

[2022-04-27 23:54] asorbini commented on #86
Hi @maspe36,

The problem comes from your use of keys, which is not supported by ROS 2. Even though the ROS 2 code generator is able to parse your IDL, I suspect that the `// @key` annotation is ignored. In fact, the preferred ways to define types in ROS 2 (i.e. via `.msg`, `.srv`, and `.action` files) do not provide any syntax to mark members as keys.

`rmw_connextdds` re-uses the "type support"

[2022-04-28 18:00] maspe36 commented on #86
Hey thanks for the detailed response! I will say upfront I am no expert but here goes nothing.

Yeah I did some reading on this before I started working on this and I stumbled across a [couple](https://discourse.ros.org/t/keys-in-msg/1942/5), of [discussions](https://github.com/ros2/design/pull/212#discussion_r315855667) that seem to imply that it is up to the rmw implementation to use the keyed f

[2022-05-04 22:42] sid-flyarcher opened #87 "Compilation error"
**System Info**

- _OS_
  - Ubuntu 22.04
- *ROS version and installation type*
  - rolling
- *RTI Connext DDS version and installation type*
  -  6.1.0
- *RMW version or commit hash*
  -

**Bug Description**

Get the following compile error with tag 0.12.0 :

[code]

**Expected Behavior**

Successful compilation

**How to Reproduce**

Using docker image ->amd64/ros:rolling-ros-base;
[code]

**Work

[2022-05-05 13:00] clalancette commented on #87
We added a new API to the sources, so we needed to do some releases.  That is done now, so if you use the Rolling testing repository, you should be able to compile just fine.  We haven't synced it out to "main" yet, so if you are using the regular repository you'll have to wait a bit.

[2022-05-05 13:00] #87 closed

[2022-06-03 22:52] Aposhian opened #89 "Humble debian package doesn't contain binaries"
**System Info**

- _OS_
  - Ubuntu 22.04
- *ROS version and installation type*
  - humble binary
- *RTI Connext DDS version and installation type*
  - 6.0.1 debian packages
- *RMW version or commit hash*
  - 0.11.1-1jammy.20220520.011125

**Bug Description**
Installing `ros-humble-rmw-connextdds` does not install the `librmw_connextdds.so` library.

**Expected Behavior**
On galactic I can do the f

[2022-06-29 21:49] asorbini commented on #89
I just verified that the Debian package now correctly contains the libraries, so I'm closing this issue.

To reproduce:
[code]

[2022-06-29 21:49] #89 closed

[2022-08-08 13:34] cgarry-vs opened #90 "ROS2 Humble Support Unclear"
I do not see support for ROS2 Humble in the README, but setup instructions are in the Humble documentation:
https://docs.ros.org/en/humble/Installation/DDS-Implementations.html

**Implementation Considerations**

Clarify/fix documentation.

[2022-08-08 16:39] clalancette commented on #90
Good point.  Would you mind opening a PR to add it into that table (along with Galactic)?  Thanks!

[2022-08-09 08:16] Vermounthlly opened #91 "How to build rmw_connextdds on Raspberry Pi 4b ?"
Hi, I am trying to use RTI DDS with ROS2.
System Info

    OS
    Ubuntu20.04
    ROS version and installation type
    foxy
    RTI Connext DDS version and installation type
    6.1.1

In desktop environment, I succeed with installing RTI DDS 6.1.1 with rmw_connextdds repository.

Now I am trying to install RTI DDS on Raspberry Pi 4b (armv8 architecture).

I Downloaded "rti_connext_dds-6.1.1-lm-t

[2022-08-11 10:30] Vermounthlly commented on #10
hi @asorbini  , I am trying to use RTI DDS with ROS2 on Raspberry Pi 4b.
I Downloaded "rti_connext_dds-6.1.1-lm-target-armv8Linux4gcc7.3.0.rtipkg" and “rti_connext_dds-6.1.1-lm-x64Linux4gcc7.3.0.run”,and I installed the armv8Linux package on a Linux host machine(PC) using the RTI Launcher as described in the [RTI document](https://community.rti.com/static/documentation/connext-dds/6.1.0/doc/manual

[2022-10-24 05:30] ceccocats opened #94 "Currently used middleware can't loan messages. Local allocator will be used."
Is ros2 loaned message interface supported?

I have nodes that sends static messages with zero-copy using the loaned inteface like this:
https://github.com/ros2/demos/blob/rolling/demo_nodes_cpp/src/topics/talker_loaned_message.cpp

Is it possible to use it with RTI Connext DDS obtaining the performace expected by a zero copy DDS?

Thanks,
Francesco